<hr class="my-4 border-slate-200">
<div class="pt-2 pb-4 px-4">
    <div class="p-4 bg-yellow-50 text-yellow-800 rounded-lg border border-yellow-200">
        <h5 class="font-semibold">Could not load efficiency report.</h5>
        <p class="text-sm">{{message}}</p>
    </div>
</div>